# ============================================================
# IDE
# ============================================================
.vscode/
.idea/

# ============================================================
# Python
# ============================================================
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.venv/

# ============================================================
# Secrets
# ============================================================
.env

# ============================================================
# OS
# ============================================================
Thumbs.db
.DS_Store
